body {
  margin: 0px;
  background-color: #192734;
  font-family: sans-serif;
}
.navBar {
  display: flex;
  justify-content: space-between;
  background-color: #15202b;
  border: 3px solid #15202b;
  padding: 10px;
  margin-bottom: 50px;
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%; 
  flex: 1;
  margin-left: 3%;
  margin-right: 3%;
}
.headers {
  color: white;
  font-size: 1.2em;
  background-color: #212e39;
  border: 5px solid #212e39;
  border-radius: 10px;
  width: 75%;
  max-width: 530px;
  height: 70px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  margin-bottom: 25px;
}
.headers img {
  margin-top: 20px;
  margin-left: 10px;
}
.headers p {
  font-size: 1.2em;
}
.boxes {
  font-size: 20px;
  color: white;
  padding: 15px;
  padding-top: 5px;
  background-color: #15202b;
  border: 5px solid #15202b;
  border-radius: 10px;
  width: 75%;
  max-width: 500px;
  height: 200px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  margin-bottom: 25px;
}
#personalCheckingBox, #walletBox, #budget1, #budget2 {
  max-width: 350px;
}
#personalCheckingBox, #walletBox {
  height: 110px;
}
#pcBalance, #walletBalance {
  margin-left: 3px;
  margin-top: 15px;
  font-size: 1.3em;
}
.flex-container {
  display: flex;
  gap: 25px;
}
#pc-container, #wallet-container, #foodContainer {
  gap: 10px
}
#downArrow {
  margin-top: 50px;
  margin-left: 50px;
}
#creditCardIcon, #walletIcon, #foodIcon {
  margin-top: 17px;
}
#trendsData {
  margin-left: 20px;
  margin-top: 70px;
  font-size: 2.5em;
}
#lastPurchase {
  margin-top: 0px;
  margin-bottom: 20px; 
  margin-left: 25px;
}
#trendsHeader, #trendsBox, #accountsHeader, #personalCheckingBox, #budgetHeader, #budget1 {
  margin-left: 5%;
}
#newsHeader, #newsBox, #goalsHeader, #goal1, #goal2 {
  margin-left: auto;
  margin-right: 5%;
}