.navBar {
  display: flex;
  justify-content: space-between;
  background-color: #15202b;
  border: 3px solid #15202b;
  padding: 10px;
  margin-bottom: 50px;
}
body {
  margin: 0px;
  background-color: #192734;
  font-family: sans-serif;
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
.headers {
  color: white;
  font-size: 1.2em;
  padding: 15px;
  background-color: #212e39;
  border: 5px solid #212e39;
  border-radius: 10px;
  width: 350px;
  height: 25px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}
.headers {
  margin-left: 25px;
  margin-bottom: 25px;
}
#newsHeader, #newsBox {
 margin-left: 500px;
 margin-right: 25px;
}
.boxes {
  color: white;
  padding: 15px;
  background-color: #15202b;
  border: 5px solid #15202b;
  border-radius: 10px;
  width: 400px;
  height: 200px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}
.boxes {
  margin-left: 25px;
}
